<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Название</th>
            <th>Bot Token</th>
            <th>Chat ID</th>
            <th>IP</th>
            <th>Secret</th>
            <th>Host</th>
            <th>Создано</th>
            <th>Доп. имя</th> <!-- Новый столбец -->
        </tr>
    </thead>
    <tbody>
        {% for enterprise in rows %}
        <tr>
            <td>{{ enterprise.number }}</td>
            <td>{{ enterprise.name }}</td>
            <td>{{ enterprise.bot_token }}</td>
            <td>{{ enterprise.chat_id }}</td>
            <td>{{ enterprise.ip }}</td>
            <td>{{ enterprise.secret }}</td>
            <td>{{ enterprise.host }}</td>
            <td>{{ enterprise.created_at }}</td>
            <td>{{ enterprise.name2 }}</td> <!-- Отображаем name2 -->
        </tr>
        {% endfor %}
    </tbody>
</table>
